@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --artistic-font-family: "Pinyon Script", cursive;
  --primary-font-family: "Lexend", sans-serif;
  --primary-color: #e8e0d1;
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}

h1 {
  font-family: var(--primary-font-family);
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding: 3%;
}

.business-name {
  font-size: 2rem;
}

.kraft-nav {
  background-color: #e8e0d1 !important;
}

.kraft-h1 {
  font-weight: 500;
}

.kraft-card-img {
  height: 400px !important;
  object-fit: cover;
  object-position: center;
}

.kraft-card-title {
  font-weight: 600;
}

.kraft-footer {
  padding: 1%;
  background-color: var(--primary-color);
}

/* Mobile Responsiveness */

@media only screen and (max-width: 478px) {
  .business-logo {
    width: 100%;
    justify-content: center;
  }
}
