@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --artistic-font-family: "Pinyon Script", cursive;
    --primary-font-family: "Lexend", sans-serif;
    --primary-color: #E8E0D1;
}

*{
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

h1{
    font-family: var(--artistic-font-family);
}

body{
    margin:0;
    padding: 0;
}

section{
    padding: 3%;
}

.kraft-nav{
    background-color: #E8E0D1 !important;
}

.kraft-h1{
    font-weight: 800;
}

.kraft-card-img{
    height: 400px !important;
    object-fit: cover;
    object-position: center;
}

.kraft-card-title{
    font-weight: 600;
}